* {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    font-family: Cairo, sans-serif;
    height: 2000px;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

/* change theme btn */
/* .nav-link{
    color: #ced4da !important;
}

.nav-link:hover{
    background-color: #ed9925 !important;
    color: #212529 !important;
    transition: all 0.3s;
}

.active{
    background-color: #ed9925 !important;
    color: #212529 !important;
}

#nl2 {
    color: #fff !important;
}
#nl3 {
    color: #fff !important;
}
#nl2:hover {
    background-color: #ed9925 !important;
    color: #0029bd !important;
    transition: all 0.3s;
}
#nl3:hover {
    background-color: #ed9925 !important;
    color: #0029bd !important;
    transition: all 0.3s;
} */

/* burger menu */
/* .burger-menu .list-item a {
    color: #ced4da;
}
.burger-menu .list-item a:hover {
    background-color: #ced4da;
    color: #212529 !important;
    transition: all 0.3s;
} */