/* 6 */

/* #id-2{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-5{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-8{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-11{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-14{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-17{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-20{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-23{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-26{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-29{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-32{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-35{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-38{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-41{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-44{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-47{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-50{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-53{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-56{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-59{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-62{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-65{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-68{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-71{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-74{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-77{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-80{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-83{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-86{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-89{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-92{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-95{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
#id-98{
    margin-left: 50.5px;
    margin-right: 25.25px;
}
/* right 
#id-3{
    margin-left: 25.25px;
    
}
#id-6{
    margin-left: 25.25px;
    
}
#id-9{
    margin-left: 25.25px;
    
}
#id-12{
    margin-left: 25.25px;
    
}
#id-15{
    margin-left: 25.25px;
    
}
#id-18{
    margin-left: 25.25px;
    
}
#id-21{
    margin-left: 25.25px;
    
}
#id-24{
    margin-left: 25.25px;
    
}
#id-27{
    margin-left: 25.25px;
    
}
#id-30{
    margin-left: 25.25px;
    
}
#id-33{
    margin-left: 25.25px;
    
}
#id-36{
    margin-left: 25.25px;
    
}
#id-39{
    margin-left: 25.25px;
    
}
#id-42{
    margin-left: 25.25px;
    
}
#id-45{
    margin-left: 25.25px;
    
}
#id-48{
    margin-left: 25.25px;
    
}
#id-51{
    margin-left: 25.25px;
    
}
#id-54{
    margin-left: 25.25px;
    
}
#id-57{
    margin-left: 25.25px;
    
}
#id-60{
    margin-left: 25.25px;
    
}
#id-63{
    margin-left: 25.25px;
    
}
#id-66{
    margin-left: 25.25px;
    
}
#id-69{
    margin-left: 25.25px;
    
}
#id-72{
    margin-left: 25.25px;
    
}
#id-75{
    margin-left: 25.25px;
    
}
#id-78{
    margin-left: 25.25px;
    
}
#id-81{
    margin-left: 25.25px;
    
}
#id-84{
    margin-left: 25.25px;
    
}
#id-87{
    margin-left: 25.25px;
    
}
#id-90{
    margin-left: 25.25px;
    
}
#id-93{
    margin-left: 25.25px;
    
}
#id-96{
    margin-left: 25.25px;
    
}
#id-99{
    margin-left: 25.25px;
    
} */

/* 7 */
/* body {
    font-family: Arial, Helvetica, sans-serif;
}

.assign {
    text-align: center;
    padding-top: 20px;
}

.assign input {
    padding: 10px 0;
    width: 300px;
    border: 1px solid #ddd;
}

.assign input:focus {
    outline: none;
    border-color: #ccc;
}

.assign [title="Current"] {
    padding: 20px;
    margin: 10px auto;
    width: 610px;
    background-color: #f1f0f0;
}

.assign .classes-list {
    padding: 20px;
    margin: 10px auto;
    width: 610px;
    background-color: #f1f0f0;
}

.assign .classes-list h5 {
    margin: 0 0 10px;
    text-align: left;
}

.assign .classes-list div span {
    background-color: #ff5722;
    padding: 6px 10px 8px;
    margin-right: 5px;
    border-radius: 6px;
    color: white;
    display: inline-flex;
} */

/* start elzero tasks in localStorage */
.active {
    
}